



<br>

<div class="abs-center">
<div class="card text-center " style="width: 18rem;">
    <div class="card-header">
      Perfil
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Nombre: {{person.name}}</li>
      <li class="list-group-item">Apellidos: {{person.last_name}}</li>
      <li class="list-group-item">Identificación: {{person.identification}}</li>
      <li class="list-group-item">Tipo de Identificación {{person.identification_type}}</li>
      <li class="list-group-item">Fecha: {{person.date_of_birth}}</li>
    </ul>
  </div>
</div>